# Environment variables
.env

# Python virtual environment
myenv/
venv/

# Python cache
__pycache__/
*.pyc

# Local data - This is correctly ignored as it's generated fresh in the pipeline
data/raw_posts.csv
# vectorizer.joblib

# The 'mlruns' directory is INTENTIONALLY NOT ignored.
# This is because it is a build artifact that MUST be
# included in the final Docker image for the API to load the model.